<div ng-controller="mainCtrl">

  <div class="addMealBG">




    <nav class="fixedNav">
      <h1>DASHBOARD</h1>
      <ul>
        <li><a ui-sref="main">menu</a></li>
        <li><a ui-sref="addMeal">add meals</a></li>
        <li><a ui-sref="mealsOrdered">past orders</a></li>
        <li><a  ui-sref="about">about</a></li>
        <li><a ui-sref="cart">cart</a></li>
        <li><a href="/auth/logout">sign out</a></li>
      </ul>
    </nav>






<br>
<br>
    <div class="addMealTitle"><h1>Add a dish</h1></div>
    <div class="howToAddMeal">
      <h4>Start earning by making meals. Fill in all the information below to have your dish posted (all inputs is required). The more descriptive you can be, the more you can significantly increase sales! You get to choose the quantity to sell, so in schedule, one-time will be one meal, day will equal to three square meals, etc.</h4>
    </div>
<br>
    <div class="addMealForm">
      <label><b>MealName: </b></label>
      <br>
      <input class="inputAddMeal" type="username" placeholder="Meal Name" name="uname" ng-model="mealName"required>
      <br>
      <br>
      <label><b>Cost (total for all meals)</b></label>
      <br>
      <input class="inputAddMeal" type="username" placeholder="Enter Price" name="price" ng-model="mealCost" required>
      <br>
      <br>
      <label><b>Description/Ingredients</b></label>
      <br>
      <input class="inputAddMeal" type="username" placeholder="About this meal" name="price" ng-model="description" required>
      <br>
      <br>
      <label><b>&nbsp; Vegan</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="vegan" required>
      <label><b>&nbsp; Veg</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="vegetarian" required>
      <label><b>&nbsp; Non-Veg</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="nonVeg" required>
      <label><b>&nbsp; Gluten-Free</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="glutenFree" required>
      <label><b>&nbsp; Contains Soy</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="soy" required>
      <br>
      <label><b>&nbsp; Contains Nuts</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="nuts" required>
      <br>
      <br>
        <label><b>Schedule</b></label>
      <select class="scheduleSelect" ng-model="schedule">
      <option class="scheduleSelect">One-Time</option>
      <option class="scheduleSelect">Day</option>
      <option class="scheduleSelect">Bi-Weekly</option>
      <option class="scheduleSelect">Weekly</option>
      </select>
      <br>
      <br>
  <form name="form">
              <img style="width: 300px;" ngf-thumbnail="image || '../assets/img/placeholder.png'">
              <button class="addToCartButton" name="image" ngf-select ng-model="image">Upload Image (required)</button>
              <br>
              <br>
              <button class="submitMeal" ng-click="submit(mealName, mealCost, description, vegan, vegetarian, nonVeg, glutenFree, soy, nuts, schedule, image, authid)">Submit</button>
        </form>
      </div>
</div>
</div>
