<div ng-controller="mainCtrl">

<div class="addMealBG">

<br>
<br>
<h1>Add a dish</h1>
<br>
<br>
<h4>Start earning by making meals. Fill in all the information below to have your dish posted (an image is required). The more descriptive you can be, the more you can significantly increase sales! You get to choose the quantity to sell, so in schedule, one-time will be one meal, day will equal to three square meals, etc.</h4>



      <label><b>MealName: </b></label>
      <input type="username" placeholder="Meal Name" name="uname" ng-model="mealName"required>
      <br>

      <label><b>Cost (total for all meals)</b></label>
      <input type="username" placeholder="Enter Price" name="price" ng-model="mealCost" required>
      <br>
      <label><b>Description/Ingredients</b></label>
      <input type="username" placeholder="About this meal" name="price" ng-model="description" required>
      <br>
      <label><b>Vegan</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="vegan" required>
      <label><b>Veg</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="vegetarian" required>
      <label><b>Non-Veg</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="nonVeg" required>
      <label><b>Gluten-Free</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="glutenFree" required>
      <label><b>Contains Soy</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="soy" required>
      <br>
      <label><b>Contains Nuts</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="nuts" required>
      <br>

        <label><b>Schedule</b></label>
      <select ng-model="schedule">
      <option>One-Time</option>
      <option>Day</option>
      <option>Bi-Weekly</option>
      <option>Weekly</option>
      </select>
      <br>


  <form name="form">
              <img style="width: 300px;" ngf-thumbnail="image || '../assets/img/placeholder.png'">
              <button name="image" ngf-select ng-model="image">Upload image (required)</button>
              <button ng-click="submit(mealName, mealCost, description, vegan, vegetarian, nonVeg, glutenFree, soy, nuts, schedule, image, authid)">Submit</button>
        </form>


<h1>DISABle submit button</h1>
</div>

</div>
