<div ng-controller="mainCtrl">

<nav-Dir></nav-Dir>



  <div class="addMealBG">



<!-- <nav-Dir></nav-Dir> -->





<br>
<br>
<br>
    <div class="addMealTitle"><h1>Add a Dish</h1></div>
    <div class="howToAddMeal">
      <h4>Start earning by making meals. Fill in all the information below to have your dish posted (all inputs is required). The more descriptive you can be, the more you can significantly increase sales!</h4>
    </div>
<br>
    <div class="addMealForm">
      <label><b>Meal Name: </b></label>
      <br>
      <input class="inputAddMeal" type="username" placeholder="Meal Name" name="uname" ng-model="mealName"required>
      <br>
      <br>
      <label><b>Cost (total for all meals)</b></label>
      <br>
     $  <input class="inputAddMeal" type="username" placeholder="Enter Price" name="price" ng-model="mealCost" required>
      <br>
      <br>
      <label><b>Description/Ingredients</b></label>
      <br>
      <input class="inputAddMeal" type="username" placeholder="About this meal" name="price" ng-model="description" required>
      <br>
      <br>
      <label><b>&nbsp; Vegan</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="vegan" required>
      <label><b>&nbsp; Veg</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="vegetarian" required>
      <label><b>&nbsp; Non-Veg</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="nonVeg" required>
      <label><b>&nbsp; Gluten-Free</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="glutenFree" required>
      <label><b>&nbsp; Contains Soy</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="soy" required>
      <br>
      <label><b>&nbsp; Contains Nuts</b></label>
      <input type="checkbox" placeholder="Enter Price" name="price" ng-model="nuts" required>
      <br>
      <br>
        <label><b>Serves:</b></label>
      <select class="scheduleSelect" ng-model="schedule">
      <option class="scheduleSelect">1</option>
      <option class="scheduleSelect">2</option>
      <option class="scheduleSelect">3</option>
      <option class="scheduleSelect">4</option>
      <option class="scheduleSelect">5</option>
      <option class="scheduleSelect">6</option>
      <option class="scheduleSelect">7</option>
      <option class="scheduleSelect">8</option>
      <option class="scheduleSelect">9</option>
      <option class="scheduleSelect">10</option>
      <option class="scheduleSelect">10+</option>
      </select>
      <br>
      <br>
  <form name="form">
              <img style="width: 300px;" ngf-thumbnail="image || '../assets/img/placeholder.png'">
              <button class="addToCartButton" name="image" ngf-select ng-model="image">Upload Image (required)</button>
              <br>
              <br>
              <br>
              <button class="submitMeal" ng-click="submit(mealName, mealCost, description, vegan, vegetarian, nonVeg, glutenFree, soy, nuts, schedule, image, authid)">Submit</button>
        </form>
      </div>
</div>
</div>
