<div class="mainMenuBody">







<nav class="fixedNav">
  <h1>DASHBOARD</h1>
  <ul>
    <li><a ui-sref="main">menu</a></li>
    <li><a ui-sref="addMeal">add meals</a></li>
    <li><a ui-sref="mealsOrdered">past orders</a></li>
    <li><a  ui-sref="about">about</a></li>
    <li><a ui-sref="cart">cart</a></li>
    <li><a href="/auth/logout">sign out</a></li>
  </ul>
</nav>

































<div ng-controller="mainCtrl">

  <div class="featuredTitle">
   <p class="yellow">Featured Parameals</p>
   <h4 class="babyBlue">A mix of our favorite dishes</h4>
  </div>










<div class="positionMainSearchBar">
  <div class="cntr">
	<div class="cntr-innr">
	  <label class="search" for="inpt_search">
			<input id="inpt_search" type="text" ng-model="searchBox"/>
		</label>
    <br>

		<p></p>
	</div>
</div>
</div>



















  <!-- <button ui-sref="addMeal" name="button">addMeal</button> -->



  <!-- <input type="username" ng-model="searchBox">   THIS IS THE SEARCHBOX -->


<!-- not working -->
        <!-- <h1 ng-if="!user.authid">{{user}}</h1>
        <div ng-if="user.authid">
            <h1>{{user.authid}}</h1>
            <h1>{{user.username}}</h1>
        </div> -->
<!--- username needs to show above ^^^^ --->

<!--- how to display the data (meals) from the SQL database in postico  play -->
<div class="flexWrapMainPage">




    <div ng-repeat="food in meals | filter:searchBox track by food.id" > <!--- need to track by the meals id --->
        <div class="positionMainPageGrid">
        <img class="mainPicRepeat" ng-src="{{ food.image }}">
        <h4>{{ food.mealname }}</h4>
        <h5 class="red">{{ food.description }}</h5>
        <h5 class="babyBlue">${{ food.mealcost }}</h5>
        <h5 class="yellow">Quantity: {{ food.schedule}}</h5>
        <h6 class="checkboxPosition">vegan: {{ food.vegan }}</h6>
        <h6 class="checkboxPosition">veg: {{ food.vegetarian }}</h6>
        <h6 class="checkboxPosition">nonVeg: {{ food.nonveg}}</h6>
        <h6 class="checkboxPosition">glutenFree: {{ food.glutenFree}}</h6>
        <h6 class="checkboxPosition">soy: {{ food.soy }}</h6>
        <h6 class="checkboxPosition">nuts: {{ food.nuts }}</h6>
      </div>
<!--Add NG-if auth-id then show this here  -->
  <button class="addToCartButton" ng-if="food.authid == authid" ui-sref="updatemeal({ id: food.id })">UPDATE</button>
  <button class="addToCartButton" ng-if="food.authid != authid" ng-click="addToCart(food.mealname, food.schedule, food.mealcost, food.id, food.authid)">ADD TO CART</button>
  <!-- <hr /> -->
  <br>
  <br>
  <br>
    </div>
</div>

</div>
