<div class="mainMenuBody">




<nav-Dir></nav-Dir>































<div ng-controller="mainCtrl">

  <div class="featuredTitle">
   <p class="yellow">Featured Parameals</p>
   <h4 class="babyBlue">A mix of our favorite dishes</h4>
  </div>










<div class="positionMainSearchBar">
  <div class="cntr">
	<div class="cntr-innr">
	  <label class="search" for="inpt_search">
			<input id="inpt_search" type="text" ng-model="searchBox"/>
		</label>
    <br>

		<p></p>
	</div>
</div>
</div>



















  <!-- <button ui-sref="addMeal" name="button">addMeal</button> -->



  <!-- <input type="username" ng-model="searchBox">   THIS IS THE SEARCHBOX -->


<!-- not working -->
        <!-- <h1 ng-if="!user.authid">{{user}}</h1>
        <div ng-if="user.authid">
            <h1>{{user.authid}}</h1>
            <h1>{{user.username}}</h1>
        </div> -->
<!--- username needs to show above ^^^^ --->

<!--- how to display the data (meals) from the SQL database in postico  play -->
<div class="flexWrapMainPage">




    <div ng-repeat="food in meals | filter:searchBox track by food.id" > <!--- need to track by the meals id --->
        <div class="positionMainPageGrid">
        <img class="mainPicRepeat" ng-src="{{ food.image }}">
        <h4>{{ food.mealname }}</h4>
        <h5 class="red">{{ food.description }}</h5>
        <h5 class="babyBlue">${{ food.mealcost }}</h5>
        <h5 class="yellow">Quantity: {{ food.schedule}}</h5>
        <h6 class="checkboxPosition" ng-if="food.vegan == true">vegan: {{ food.vegan }}</h6>
        <h6 class="checkboxPosition" ng-if="food.vegetarian == true">veg: {{ food.vegetarian }}</h6>
        <h6 class="checkboxPosition" ng-if="food.nonveg == true">nonVeg: {{ food.nonveg}}</h6>
        <h6 class="checkboxPosition" ng-if="food.glutenFree == true">glutenFree: {{ food.glutenFree}}</h6>
        <h6 class="checkboxPosition" ng-if="food.soy == true">soy: {{ food.soy }}</h6>
        <h6 class="checkboxPosition" ng-if="food.nuts == true">nuts: {{ food.nuts }}</h6>
      </div>
  <button class="addToCartButton" ng-if="food.authid == authid" ui-sref="updatemeal({ id: food.id })">UPDATE</button>
  <button class="addToCartButton" ng-if="food.authid != authid" ng-click="addToCart(food.mealname, food.schedule, food.mealcost, food.id, food.authid)">ADD TO CART</button>
  <!-- <hr /> -->
  <br>
  <br>
  <br>
    </div>
</div>

</div>
