


<nav class="fixedNav">

  <h1>DASHBOARD</h1>
  <ul>
    <li><a href="/#/menu">menu</a></li>
    <li><a href="/#/addmeal">add meals</a></li>
    <li><a href="/#/mealsordered">past orders</a></li>
    <li><a href="/#/about">about</a></li>
    <li><a href="/#/cart">cart</a></li>
    <li><a href="/#/auth/logout">sign out</a></li>
  </ul>
</nav>





<!-- <nav class="fixedNav">

  <h1>DASHBOARD</h1>
  <ul>
    <li><a ui-sref="main">menu</a></li>
    <li><a ui-sref="addMeal">add meals</a></li>
    <li><a ui-sref="mealsOrdered">past orders</a></li>
    <li><a  ui-sref="about">about</a></li>
    <li><a ui-sref="cart">cart</a></li>
    <li><a href="/auth/logout">sign out</a></li>
  </ul>
</nav> -->
