


<div class="editPage">

  <nav class="fixedNav">
    <h1>DASHBOARD</h1>
    <ul>
      <li><a ui-sref="main">menu</a></li>
      <li><a ui-sref="addMeal">add meals</a></li>
      <li><a ui-sref="mealsOrdered">past orders</a></li>
      <li><a  ui-sref="about">about</a></li>
      <li><a ui-sref="cart">cart</a></li>
      <li><a href="/auth/logout">sign out</a></li>
    </ul>
  </nav>


<br>
<br>
<br>
<h1 class="yellow">Edit Meal</h1>
<br>
 <form>
      <label class="white"><b>Meal Name:</b></label>
      <br>
      <input class="inputUpdateMeal" type="username" placeholder="Meal Name" name="uname" ng-model="currentMeal.mealname"required>
      <br>
      <br>
      <label class="white"><b>Cost Per Meal:</b></label>
      <br>
  <span class="brightWhite">$ </span><input class="inputUpdateMeal" type="username" placeholder="Enter Price" name="price" ng-model="currentMeal.mealcost" required>
      <br>
      <br>
      <label class="white"><b>Description:</b></label>
      <br>
      <input class="inputUpdateMeal" type="username" placeholder="About this meal" name="price" ng-model="currentMeal.description" required>
      <br>
      <br>
      <label class="white"><b>&nbsp; Vegan</b></label>
      <input class="inputUpdateMeal" type="checkbox" placeholder="Enter Price" name="price" ng-model="currentMeal.vegan">
      <label class="white"><b>&nbsp; Veg</b></label>
      <input class="inputUpdateMeal" type="checkbox" placeholder="Enter Price" name="price" ng-model="currentMeal.vegetarian">
      <label class="white"><b>&nbsp; Non-Veg</b></label>
      <input class="inputUpdateMeal" type="checkbox" placeholder="Enter Price" name="price" ng-model="currentMeal.nonveg">
      <label class="white"><b>&nbsp; Gluten-Free</b></label>
      <input class="inputUpdateMeal" type="checkbox" placeholder="Enter Price" name="price" ng-model="currentMeal.glutenfree">
      <br>
      <label class="white"><b>&nbsp; Contains Soy</b></label>
      <input class="inputUpdateMeal" type="checkbox" placeholder="Enter Price" name="price" ng-model="currentMeal.soy">
      <label class="white"><b>&nbsp; Contains Nuts</b></label>
      <input class="inputUpdateMeal" type="checkbox" placeholder="Enter Price" name="price" ng-model="currentMeal.nuts">
      <br>
      <br>
      <label class="white"><b>Schedule</b></label>
      <select ng-model="currentMeal.schedule">
        <option>One-Time</option>
        <option>Day</option>
        <option>Bi-Weekly</option>
        <option>Weekly</option>
      </select>
      <br>
      <br>
      <img style="width: 300px;" ngf-thumbnail="currentMeal.image || '../assets/img/placeholder.png'"> <!--change currentMeal.image to image IF the image uploader does not work -->
      <br>
      <button class="updateImage" name="image" ngf-select="image" ng-model="currentMeal.image">&nbsp; Upload Image</button>
      <br>
      <br>
      <button class="submitMeal" ui-sref="main" ng-click="updatemeal(currentMeal)">Finished Editing</button>
    </form>

<br>
<br>
<hr>
<br>
<!-- <img style="width: 300px;" ngf-thumbnail="currentMeal.image"> -->
<button class="deleteYourMealBtn" ui-sref="main" ng-click="deletePrepMeal(currentMeal.id)"> DELETE MEAL</button>
<br>
<br>
<br>
<br>
</div>
