
<nav class="fixedNav">
  <h1>DASHBOARD</h1>
  <ul>
    <li><a ui-sref="main">menu</a></li>
    <li><a ui-sref="addMeal">add meals</a></li>
    <li><a ui-sref="mealsOrdered">past orders</a></li>
    <li><a  ui-sref="about">about</a></li>
    <li><a ui-sref="cart">cart</a></li>
    <li><a href="/auth/logout">sign out</a></li>
  </ul>
</nav>

<div class="mealsOrderedBG">


<br>
<br>
<br>
<h1 class="white">checkout</h1>



<br>


<div ng-repeat="khana in getCurrentCart" >
  <h3 class="babyBlue">{{ khana.mealname }}</h3>
  <h4 class="red2"> quantity: {{ khana.quantity }}</h4>
  <h4 class="yellow"> mealcost: ${{ khana.mealcost}}</h4>
  <br>
  <button  class="deleteFromCart" ng-click=deleteFromCart(khana.foodid)>DELETE</button>
  <hr/>
</div>

<br>
  <div class="checkoutCenter">
<h3 class="white">Your Total is: <span class="babyBlue">${{ total }}</span></h3>
<br>
<button class="payBtn" ng-click="openPayment(); cartToOrder(getCurrentCart); emptyCart(getCurrentCart);">pay with card</button>
  </div>
<br>
<br>
<br>
<br>
</div>
