/* GENERAL GLOBAL CSS */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

h1 {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

}

body {
  margin: 0;
  padding: 0;

}

.brightWhite {
  color: #fff;
}

.babyBlue {
  color: #10C4FE;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.red2 {
  font-family: 'Open Sans', sans-serif;
  color: #FF4672;
  font-weight: 300;
}

.white {
  color: rgb(167, 161, 174);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.yellow {
  font-family: 'Open Sans', sans-serif;
  color: #FBFF28;
  font-weight: 300;
}



/* THIS IS THE LANDING PAGE FOR Parameal */

.homeWall {
  background: url("https://images.unsplash.com/photo-1457347876270-97799484c564?dpr=1&auto=compress,format&fit=crop&w=750&h=&q=80&cs=tinysrgb&crop=")no-repeat center center fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  /*height: 100%;
  width: 100%;*/
  height: 100vh;
  width: 100%;
}


.homeTitle {

    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    padding-top: 2%;
    margin-left: 15px;
    font-size: 60px;
    letter-spacing: 5px;
    font-weight: 300;
    color: #333333;
}

.outerHomeTitle {
   display: flex;
   width: 100vw;
}

.homeInfo {
  background-color: rgba(230, 233, 247, .9);
 text-align: right;
 font-family: 'Josefin Sans', sans-serif;
 padding-top: 4%;
 padding-right: 5%;
 padding-bottom: 4%;
 font-size: 20px;
 line-height: 20px;
 letter-spacing: 2px;
}


.topLogin {
  padding-top: 15px;
}


/* Login and about nav on main landing page */


.navColor {
  color: white;
  padding: 1vw;
  letter-spacing: 1px;
  /*color: #F1F3F6;*/
  color: black;
  font-size: 1.5em;

}
nav {
  margin: 0;
  border-radius: 0;
}
.container-fluid {
  background: #DFDEF2;
   /*background: #333333;*/
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  float: none;

}

.navbar-inverse{
  margin: 0;
  padding: 0;
  top: 0px;
  color: white;
  opacity: .60;

}


.love{
       position: fixed;
       text-align: center;
       bottom: 0px;
       width: 100%;
   }





/* NAVBAR  */

nav {
  /*background: rgba(0, 120, 187, .2);*/
    background: rgba(24, 88, 117, .9);

  margin: 0;
  border-radius: 1%;
}

nav h1 {
  display: none;
}
nav ul {
  /*border-left: 1px solid #005788;*/
  /*border-right: 1px solid #005788;*/
  border-radius: 1%;
  list-style: none;
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav ul li {
  box-flex: 1;
}
nav ul li a {
  border-left: 1px solid #005788;
  border-right: 1px solid #005788;
  /*border-right: 1px solid #09e;*/
  color: #fff;
  display: block;
  line-height: 20px;
  padding: 12px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}
nav ul li a:hover {
  background: rgba(16, 196, 254, .4);
  box-shadow: 1px 1px 40px 1px rgba(26, 165, 249, .9);
  text-decoration: none;
  color: white;
}
@media only screen and (max-width: 600px) {
  nav h1 {
    border-bottom: 1px solid #09e;
    color: #fff;
    display: block;
    /*font: 16px serif;*/
    font: 16px 'Open Sans', sans-serif;
    line-height: 20px;
    letter-spacing: 2px;
    margin: 0 auto;
    padding: 12px 0;
    text-align: center;
    width: 96%;
  }
  nav h1:hover + ul,
  nav h1 + ul:hover {
    max-height: 300px;
  }
  nav ul {
    display: block;
    max-height: 0;
    transition: max-height 200ms;
  }
  nav ul li a {
    padding-left: 12px;
    text-align: left;
  }
}




/* MAIN MENU (FEATURED MEALS, ETC) */


.mainMenuBody {
    background-color: #1F2739;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}


.mainPicRepeat {
  height: 250px;
  width: 320px;
  box-shadow: 10px 10px 100px 10px rgba(0, 0, 0, .9);
}


.featuredTitle {
    /*margin-top: 50px;*/
    padding-top: 105px;
    font-size: 3.2em;
    font-weight: 300;
    line-height: 1em;
    letter-spacing: 5px;
    text-align: center;
    color: #FF4672;
}







/* search bar in main menu  */

.fixedNav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}


.cntr {
  display: table;
  width: 100%;
  height: 100%;
}
.cntr .cntr-innr {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/*** STYLES ***/
.search {
  display: inline-block;
  position: relative;
  height: 35px;
  width: 35px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 7px 9px 0px 9px;
  border: 3px solid #FFFFFF;
  border-radius: 25px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: text;
}
.search:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 20px;
  right: -5px;
  top: 21px;
  background: #FFFFFF;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.search.active,
.search:hover {
  width: 200px;
  margin-right: 0px;
}
.search.active:after,
.search:hover:after {
  height: 0px;
}
.search input {
  width: 100%;
  border: none;
  box-sizing: border-box;
  font-family: Helvetica;
  font-size: 15px;
  color: inherit;
  background: transparent;
  outline-width: 0px;
}





.positionMainSearchBar {
  margin: 35px;
  margin-bottom: 50px;
}

.flexWrapMainPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*margin-left: 40px;
  margin-right: 40px;*/
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgba(255, 70, 114, .9);
  padding: 45px;
}



.red {
    font-family: 'Open Sans', sans-serif;
  color: #FF4672;
  font-weight: 300;
  padding: 0 12px;
}



.positionMainPageGrid {
  width: 320px;
  height: 520px;
}

.checkboxPosition {
  margin: 0;
  padding: 1px;
  color: rgb(167, 161, 174);
}




.addToCartButton {
    background-color: #1F2739;
    /*background-color: rgba(26, 165, 249, .9);*/
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(26, 165, 249, .3);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    padding: 5px;
    border-color: #1F2739;
    letter-spacing: 3px;
    border: 1px solid #1F2739;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
}

.addToCartButton:hover {
  box-shadow: 1px 1px 30px 1px rgba(26, 165, 249, .9);

}


/* add Meals Page */

.addMealBG {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 220vh;
  /*height: -webkit-fill-available;*/
  background: #1F2739;
  text-align: center;
  letter-spacing: 1px;
}

.addMealTitle {
  color: #FBFF28;
  padding-top: 20px;
  padding-bottom: 8px;
  letter-spacing: 3px;
  font-family: "Open Sans", sans-serif;
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-weight: 300;
}

.howToAddMeal {
  padding-left: 15px;
  padding-right: 15px;
  color: #10C4FE;
  font-family: 'Josefin Sans', sans-serif;
  /*font-family: "Open Sans", sans-serif;*/

  font-weight: 300;
  letter-spacing: 2px;
  font-size: 15px;
}

.addMealForm {
  color: #FF4672;
  padding-left: 15px;
  padding-right: 15px;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 2px;
}

.scheduleSelect {
 background-color: white;
 opacity: 0.9;
 color: black;
}

.submitMeal {
    background-color: #1F2739;
    /*background-color: rgba(26, 165, 249, .9);*/
    border-radius: 5px;
    box-shadow: 0px 0px 20px 5px rgba(26, 165, 249, .6);
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-size: 0.8em;
    font-weight: 400;
    padding: 7px;
    border-color: #1F2739;
    letter-spacing: 3px;
    border: 1px solid #1F2739;
    color: white;


    position: absolute;
      text-decoration: none;
      z-index: 1;
      overflow: hidden;
      left:50%;
      transform:translate(-50%);
}


.submitMeal:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #EDDD31;
  z-index: -1;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: translate(-52%, -102%) rotate(-45deg) scale(5);
          transform: translate(-52%, -102%) rotate(-45deg) scale(5);
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
.submitMeal:hover {
  color: black;
  font-size: 0.8em;
  font-weight: 400;
  padding: 7px;
  border-color: #1F2739;
  letter-spacing: 3px;
  border: 1px solid #1F2739;

}
.submitMeal:hover::before {
  -webkit-transform: translate(50%, 0) rotate(-45deg) scale(5);
          transform: translate(50%, 0) rotate(-45deg) scale(5);
}



.inputAddMeal {
  border-radius: 3px;
  opacity: 0.9;
  font-size: 17px;
  color: black;
  padding: 1px;
}



/* meal history */

.mealsOrderedBG {
  background: #1f2739;
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(167, 161, 174);
  /*height: -webkit-fill-available;*/
  height: 100%;
}


/* about page */

.aboutPageBG {
  background: #1f2739;
  padding: 30px;
  height: 200vh;
  letter-spacing: 2px;
  text-align: center;
}



/* cart/checkout page  */

.deleteFromCart {
    background-color: #1F2739;
    /*background-color: rgba(26, 165, 249, .9);*/
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px rgba(255, 70, 114, 0.4);
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: "Open Sans", sans-serif;
    font-size: 0.7em;
    font-weight: 300;
    padding: 5px;
    border-color: #1F2739;
    letter-spacing: 2px;
    border: 1px solid #1F2739;
    color: white;
}

.checkoutCenter {
  text-align: center;
}


.payBtn {
    background-color: #1F2739;
    /*background-color: rgba(26, 165, 249, .9);*/
    border-radius: 5px;
    box-shadow: 0px 0px 15px 3px rgba(26, 165, 249, .6);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 400;
    padding: 8px;
    border-color: #1F2739;
    letter-spacing: 3px;
    border: 1px solid #1F2739;
    color: white;


    position: absolute;
      text-decoration: none;
      z-index: 1;
      overflow: hidden;
      left:50%;
      transform:translate(-50%);
}




.payBtn:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #EDDD31;
  z-index: -1;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: translate(-52%, -102%) rotate(-45deg) scale(5);
          transform: translate(-52%, -102%) rotate(-45deg) scale(5);
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
.payBtn:hover {
  color: black;
}
.payBtn:hover::before {
  -webkit-transform: translate(50%, 0) rotate(-45deg) scale(5);
          transform: translate(50%, 0) rotate(-45deg) scale(5);
}


/* Edit/Update Meal */

.editPage {
  background: #1f2739;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  height: -webkit-fill-available;
}

.inputUpdateMeal {
    border-radius: 3px;
    opacity: 0.9;
    font-size: 14px;
    padding: 1px;
}



.deleteYourMealBtn {
    background-color: #1F2739;
    /*background-color: rgba(26, 165, 249, .9);*/
    border-radius: 5px;
    box-shadow: 0px 0px 9px 4px rgba(255, 70, 114, 0.4);
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: "Open Sans", sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    padding: 8px;
    border-color: #1F2739;
    letter-spacing: 2px;
    border: 1px solid #1F2739;
    color: white;

    position: absolute;
      text-decoration: none;
      z-index: 1;
      overflow: hidden;
      left:50%;
      transform:translate(-50%);
}

  .deleteYourMealBtn:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #EDDD31;
    z-index: -1;
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-transform: translate(-52%, -102%) rotate(-45deg) scale(5);
            transform: translate(-52%, -102%) rotate(-45deg) scale(5);
    -webkit-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
  }
  .deleteYourMealBtn:hover {
    color: black;
  }
  .deleteYourMealBtn:hover::before {
    -webkit-transform: translate(50%, 0) rotate(-45deg) scale(5);
            transform: translate(50%, 0) rotate(-45deg) scale(5);
  }




.updateImage {
  margin: 10px;
  background-color: #1F2739;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(26, 165, 249, .6);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  padding: 6px;
  border-color: #1F2739;
  letter-spacing: 2px;
  border: 1px solid #1F2739;
  color: white;
}
