
<div class="aboutPageBG">




<h3 class="yellow">A little bit about us</h3>
<h5 class="babyBlue">Parmeal is a service to have fresh home-cooked food without cooking or eating out. Resturants can a toll on your body, time, and wallet while cooking/meal-prepping can become an inconvience. Parmeal solves this by providing authentic home foods to promote eating well. We work as a peer-to-peer exchange, which means you can become a chef and cater to others. That's right, you can become your own boss, work any amount of hours, whenever, wherever. So whether you are looking to have meals in the way of the modern age or become a high-earning chef, we can make it happen.</h5>

<br>

<button class="deleteYourMealBtn" type="button" ui-sref="main">Get Started</button>

</div>
